body {
    background-color: #83828D;
    margin: 0;
    padding: 0;
    height: 400vh;
    color: #641220;
}
.titre-app{
    text-align: center;
    text-decoration: underline;
}
.container {
    padding: 20px;
    margin: 0 auto;
}

.movie {
    margin-top: 50px;
}

section {
    position: relative;
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    transition: 250ms all;
}

section .imageContainer {
    flex: 0 0 auto;
}

.content {
    display: none;
    position: relative;
    min-height: 200px;
    width: 100%;
    border: 1px solid lightgrey;
    padding: 20px;
}


.content-display {
    display: block;
}


.content-display {
    display: block;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.content div {
    margin: 10px;
}


#content-close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    border-radius: 50%;
    left: 20px;
}


.imageContainer {
    transition: 250ms all;
    width: 300px;
}


.imageContainer:hover {
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
}

.imageContainer {
    border-radius: 4px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.imageContainer img {
    width: 100%;
}

.btn {
    display: block;
    margin: auto;
    color: #fff;
    background-color: black;
    outline: none;
    min-height: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    margin: auto;
    width: 400px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/*SCROLL BAR*/
::-webkit-scrollbar{
    width: 0;
}
.scrollPath{
    position: fixed;
    top:0;
    right:0;
    width:10px;
    height: 100%;
    background:rgba(255,255,255,0.05);
    }
#progressBar{
    z-index: 100000;
    position: fixed;
    top:0;
    right:0;
    width:10px;
    background:linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
    }
#progressBar:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}
#progressBar:after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}
@keyframes animate{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}

